<owl-carousel-o [options]="customOptions">

    @for (category of categories; track category._id) {
      <ng-template carouselSlide [id]="category._id">
        <div>
          <img class="h-40 object-cover object-top" [src]="category.image" [alt]="category.name" [title]="category.name">
          <p>{{category.name}}</p>
        </div>
      </ng-template>
    }
  </owl-carousel-o>


  <div class="mb-5">
    <input type="search" [(ngModel)]="term"  id="search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="Search" />
  </div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-3">
  @for(product of products | filterlist:term ; track $index){
    <app-product-card [product]="product"></app-product-card>
  }
</div>

