<div  class="w-full cursor-pointer active:scale-[99%] transition-all duration-200 group">
  <div [routerLink]="['/product-details',product._id,product.slug]">
    <img [src]= "product.imageCover" class="w-full">
    <p class="text-green-500 text-sm">{{product.category.name}}</p>
    <p class="mb-2 capitalize font-semibold" [title]="product.title"> {{ product.title.split(' ').slice(0,2).join(' ') }}</p>
    <div class="flex justify-between">
      <span>{{product.price}}EGP</span>
      <span><i class="fa fa-star text-yellow-400" aria-hidden="true"></i><span class="text-gray-500">{{product.ratingsAverage}}</span></span>
    </div>
  </div>

  <div class="flex justify-end gap-2">
    <button [class.!text-red-500]="isClicked" class="cursor-pointer hover:text-red-600 transition-all duration-100 " (click)="addtowhishlist(product._id)"><i class="fa fa-heart block mt-1 text-lg " aria-hidden="true"></i></button> 
  
  </div>

    
    

  
  <button (click)="addProductToCart(product._id)" class="bg-green-500 py-2 rounded text-white w-full cursor-pointer translate-y-8 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-200 ">Add To Cart</button>

</div>
