@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme{
  --color-main:#39bb39;
}

:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: green;
	--primary: green;
	--trans-dur: 0.3s;
	
}